@page "/"
@using System.ComponentModel.DataAnnotations;

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<h2>@Message</h2>

Welcome to your new app.

<EditForm Model="Model" method="POST" OnValidSubmit="DisplayCustomer">
    <ValidationSummary />
    <div>
        <label for="Model.Name">
            Name:
            <InputText @bind-Value="Model.Name" />
        </label>
        <ValidationMessage For="() => Model.Name" />
    </div>
    <div>
        <label for="Model.Email">
            Email:
            <InputText @bind-Value="Model.Email" />
        </label>
        <ValidationMessage For="() => Model.Email" />
    </div>
    <div>
        <label for="Model.IsPreferred">
            Preferred:
            <InputCheckbox @bind-Value="Model.IsPreferred" />
        </label>
        <ValidationMessage For="() => Model.IsPreferred" />
    </div>
    <input id="send" type="submit" value="Send" />
</EditForm>

@if (displayCustomer)
{
    <p id="name">Customer: @Model.Name</p>
    <p id="email">Email: @Model.Email</p>
    <p id="preferred">Preferred: @Model.IsPreferred</p>
}

@code {
    [Parameter]
    public string Message { get; set; } = "Hello, world!";

    [SupplyParameterFromForm]
    public Customer? Model { get; set; } = new();

    [CascadingParameter]
    public ModelBindingContext Context { get; set; }

    public void DisplayCustomer()
    {
        
    }


    public class Customer
    {
        public int Id { get; set; }

        [Required]
        public string? Name { get; set; }
        
        public string? Email { get; set; }
        
        public bool IsPreferred { get; set; }
    }
}